$bg-1: #1F2023;
$bg-2: #2B2F34;
$bg-3: #155799;
$bg-4: #159957;
$invalid-input: #fa695f;

$shadow:  rgba(1, 1, 1, 0.25);
$gradient: linear-gradient(90deg, #159957 0%, #159957 0.01%, #155799 100%);
$gradient-r: linear-gradient(90deg,#155799 0%, #155799 0.01%,  #159957 100%);

$color-1: #ffffff;
$color-2: #383B40;
$color-3: #ADADAD;
$color-4: #D0CDCD; 