**/node_modules
db/insert.sql
db/reset.sql
db/queries.sql
**/package-lock.json
server/src/public
.vscode/
server/src/config/mailUser.js
server/logs
server/src/config/paths.js
server/.gitignore
client/.gitignore