@import '../../../vars.scss';

.settings {
    height: 100%;

    &-form {
        height: 100%;
        overflow-y: scroll;
        padding-top: 30px;
        padding-bottom: 10px;
        
        .button {
            max-width: 300px;
        }
    }

    .sc {
        height: 100%;
    }

    .sr {
        width: 100%;
        height: 100%;
        padding-top: 50px;
    }    
}

@media screen and (min-width: 320px) and (max-width: 480px) {
    .settings-form {
        padding-top: 40px;
        padding-bottom: 20px;
    }
}