@import '../../../../vars.scss';

.avatar {
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
}

.result-box {
    width: 100%;
    border-radius: 10px;
    background-color: $bg-2;
    padding: 20px;
    box-shadow: 0 10px 10px $shadow;
    margin-bottom: 20px;

    .user-name {
        max-width: 150px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}


.buttons-box button {
    max-height: 50px;
    width: 100px;
    padding: 10px;
}

.fsz-24 {
    font-size: 24px;
}

@media screen and (min-width: 320px) and (max-width: 480px) {    
    .result-box {
        padding: 5px;
        margin-bottom: 10px;
    }

    .result-box .user-name {
        margin-left: 10px;
        font-size: 14px;
    }

    .buttons-box button {
        width: 60px;
        font-size: 11px;
    }
}