$bg-btn-1: #155799;
$bg-btn-2: #159957;

$gradient-btn-1: linear-gradient(90deg, rgba(56,59,64,1) 23%, rgba(21,153,87,1) 50%, rgba(21,87,153,1) 100%);
$gradient-btn-2: linear-gradient(90deg, #159957 0%, #159957 0.01%, #155799 100%);
$shadow-btn:  rgba(1, 1, 1, 0.25);

$color-btn-1: #ffffff;
$color-btn-2: #383B40;